.row
  .col-md-6.column-register.text-center{ style: "background-attachment: fixed; background: url('/images/events/gitlab-commit/gitlab-commit-london-logo-date-image_2x.jpg') center center no-repeat; background-size: cover" }
    %a#eventbrite-widget-modal-trigger-63010280445.btn.cta-btn.orange{ href: "#" }Register
  .col-md-6.column-register.text-center{ style: "background-attachment: fixed; background: url('/images/events/gitlab-commit/gitlab-commit-san-francisco-logo-date-image-2x.png') center center no-repeat; background-size: cover" }