---
layout: markdown_page
title: Expansion Group
---

## On this page
{:.no_toc}

- TOC
{:toc}

## Vision

The Expansion Group is part of the [Growth](/handbook/engineering/development/growth/) department and is responsible for increase seat counts and current customer upgrades

## Team Members

The following people are permanent members of the Expansion Group:

<%= direct_team(manager_role: 'Engineering Manager, Expansion and Retention') %>

## Common Links

* [Growth issues board]
* [#g_growth] in Slack


[Growth issues group boards]: https://gitlab.com/gitlab-org/growth

[#g_growth]: https://gitlab.slack.com/archives/g_growth
